services:
  sgcommander-homepage:
    image: sgcommander/homepage:latest
    container_name: sgcommander-homepage
    restart: unless-stopped
    environment:
      - UNIVERSE_HOSTS=http://localhost:8889::http://sgcommander
    ports:
      - "8888:80"
    networks:
      - sgcommander-network
  sgcommander:
    image: sgcommander/sgcommander:latest
    container_name: sgcommander
    environment:
      - URL_HOMEPAGE=${URL_HOMEPAGE:-http://localhost:8888}
      - URL_SERVER=${URL_SERVER:-http://localhost:8889}
      - URL_SIGNS=${URL_SIGNS:-http://localhost:8889/images/firmas/jugador}
      - DB_HOST=${DB_HOST:-sgcommander-db}
      - DB_PORT=${DB_PORT:-3306}
      - DB_USER=${DB_USER:-sgcommander}
      - DB_PASSWORD=${DB_PASSWORD:-password}
      - DB_DATABASE=${DB_DATABASE:-dev}
      - DB_USERROOT=${DB_USERROOT:-root}
      - DB_PASSWORDROOT=${DB_PASSWORDROOT:-p4ssw0rd}
      - DB_CREATE=${DB_CREATE:-true}
      - GALAXY_1_SECTORS=${GALAXY_1_SECTORS:-55}
      - GALAXY_2_SECTORS=${GALAXY_2_SECTORS:-40}
      - GALAXY_3_SECTORS=${GALAXY_3_SECTORS:-20}
      - GALAXY_4_SECTORS=${GALAXY_4_SECTORS:-1}
      - GALAXY_SQUARES=${GALAXY_SQUARES:-36}
      - TIME_SQUARES=${TIME_SQUARES:-30}
      - TIME_SECTORS=${TIME_SECTORS:-350}
      - TIME_GALAXY=${TIME_GALAXY:-500}
      - TIME_INTERGALAXY=${TIME_INTERGALAXY:-5000}
      - TIME_CONQUEST=${TIME_CONQUEST:-8640}
      - SECRET_WORD=${SECRET_WORD:-SECRETWORD}
      - MAX_USERS=${MAX_USERS:-5000}
      - SIGNUP_EMAIL=${SIGNUP_EMAIL:-mail@mail.com}
      - SIGNUP_CONFIRMATION_EMAIL=${SIGNUP_CONFIRMATION_EMAIL:-false}
      - DOPING=${DOPING:-false}
      - LOG_VERBOSE=${LOG_VERBOSE:-false}
    volumes:
      - sgcommander-signs-data:/var/www/web/images/firmas/jugador
      #- sgcommander-template-cache:/var/www/templates/default/cache
    restart: unless-stopped
    ports:
      - "8889:80"
    expose:
      - 8889
    links:
      - sgcommander-db
    depends_on:
      - sgcommander-db
    command: sh -c "dockerize -wait tcp://${DB_HOST:-sgcommander-db}:${DB_PORT:-3306} -timeout 300s -wait-retry-interval 8s /sbin/my_init"
    networks:
      - sgcommander-network
  sgcommander-db:
    image: mysql:5.7.32
    container_name: sgcommander-db
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORDROOT:-p4ssw0rd}
      - MYSQL_DATABASE=${DB_DATABASE:-dev}
      - MYSQL_USER=${DB_USER:-sgcommander}
      - MYSQL_PASSWORD=${DB_PASSWORD:-password}
    volumes:
      - "sgcommander-db-data:/var/lib/mysql"
    restart: unless-stopped
    ports:
      - ${DB_PORT:-3306}:${DB_PORT:-3306}
    expose:
      - ${DB_PORT:-3306}
    networks:
      - sgcommander-network

volumes:
  sgcommander-db-data:
  sgcommander-signs-data:
  #sgcommander-template-cache:

networks:
  sgcommander-network:
    driver: bridge
    name: sgcommander-network