@charset "UTF-8";

/*********************************************
  Atlantis
*********************************************/
/************************************************************************************************
  Enlaces
************************************************************************************************/
a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
}

/************************************************************************************************
  Formulario
************************************************************************************************/
select {
	font-size: 11px;
	color: white;
	background-color: #333333;
	border: 1px solid white;
}

select:focus {
	background-color: #222222;
}

input, button {
	cursor: pointer;
	font-size: 12px;
	background-color: #333333;
	border: 1px solid white;
	color: white;
}

input.disabled, input.disabled:hover {
	cursor: default;
	font-size: 12px;
	background-color: #999999;
	border: 1px solid #333333;
	color: #666666;
}

input:hover, button:hover {
	background-color: #222222;
}

textarea {
	font-size: 12px;
	background-color: #333333;
	border: 1px solid white;
	color: white;
}

textarea:focus {
	background-color: #222222;
}

#indexLstPlanetas {
	width: 237px;
}

/************************************************************************************************
  Contenedores
************************************************************************************************/
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial,Helvetica, sans-serif;
	font-size: 11px;
	color: white;
	text-align: center;
	margin: 0px auto;
	background-color: #666666;
}

#indexDivContenedor {
	position: relative;
	width: 800px;
	min-height: 200px;
	border: 1px solid black;
	background-color: #CCCCCC;
	margin: 0px auto;
	text-align: left;
}

/************************************************************************************************
  Recursos
************************************************************************************************/
#indexDivRecursoPri {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 226px;
	height: 31px;
	background-image: url(/images/estilos/atlantis/recursopri.png);
	background-repeat: no-repeat;
}

#indexDivRecursoPri div.textoRecurso {
	position: absolute;
	top: 8px;
	left: 95px;
	font-weight: bold;
}

#indexDivRecursoSec {
	position: absolute;
	top: 0px;
	left: 226px;
	width: 204px;
	height: 31px;
	background-image: url(/images/estilos/atlantis/recursosec.png);
	background-repeat: no-repeat;
}

#indexDivRecursoSec div.textoRecurso {
	position: absolute;
	top: 8px;
	left: 67px;
	font-weight: bold;
}

#indexDivRecursoEnergia {
	position: absolute;
	top: 0px;
	left: 430px;
	width: 370px;
	height: 31px;
	background-image: url(/images/estilos/atlantis/recursoenergia.png);
	background-repeat: no-repeat;
}

#indexDivRecursoEnergia div.textoRecurso {
	position: absolute;
	top: 8px;
	left: 68px;
	font-weight: bold;
}

/************************************************************************************************
  Logo
************************************************************************************************/
#indexDivLogo {
	position: absolute;
	top: 31px;
	left: 0px;
	width: 197px;
	height: 220px;
	background-repeat: no-repeat;
}

/************************************************************************************************
  Planeta
************************************************************************************************/
#indexDivPlaneta {
	position: absolute;
	top: 31px;
	left: 197px;
	width: 502px;
	height: 98px;
}

#indexDivPlanetaImagen {
	padding-left: 7px;
	padding-top: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 103px;
	height: 101px;
	background-image: url(/images/estilos/atlantis/planetaimagen.png);
	background-repeat: no-repeat;
}

#indexDivPlanetaDatos {
	position: absolute;
	top: 0px;
	left: 103px;
	width: 249px;
	height: 101px;
	background-image: url(/images/estilos/atlantis/planetadatos.png);
	background-color: #897868;
	background-repeat: no-repeat;
}

#indexDivnombrePlaneta {
	position: absolute;
	top: 17px;
	left: 41px;
	font-size: 11px;
	font-weight: bold;
	color: white;
}

#indexDivcoordenadas {
	position: absolute;
	top: 34px;
	left: 41px;
}

#indexDivBotonesPlaneta {
	position: absolute;
	top: 61px;
	left: 12px;
	width: 239px;
	text-align: center;
}

#indexDivLogoPlanetaResto {
	position: absolute;
	top: 31px;
	left: 549px;
	width: 251px;
	height: 101px;
	background-image: url(/images/estilos/atlantis/planetaresto.png);
	background-repeat: no-repeat;
}

#indexLblPlanetasLista {
	position: absolute;
	top: 0px;
	left: 5px;
	width: 240px;
	text-align: center;
}

#layer {
	position: absolute;
	height: 18px;
	top: 0px;
	left: 0px;
	width: 240px;
}

#divlistaplanetas {
	background: #59626B;
	border: 1px solid #FFFFFF;
	left: 0px;
	top: 18px;
	overflow: auto;
	position: absolute;
	width: 235px;
	margin-left: 2px;
	margin-top: -1px;
	display: none;
	z-index: 10;
	cursor:pointer;
}

#divlistaplanetas div {
	display: block;
	text-align: left;
	width: 235px;
	height: 54px;
}

#divlistaplanetas div:hover {
	background-color: #222222;
}

#divlistaplanetas img {
	float: left;
	margin: 3px;
	width: 48px;
	height: 48px;
}

#divlistaplanetas span {
	float: left;
	margin-top: 17px;
}

#indexDivConstruccion {
	position: absolute;
	top: 25px;
	left: 5px;
	width: 247px;
}

#indexLblNoCons {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 200px;
	padding: 5px;
	font-weight: bold;
	border: 1px solid white;
	background-color: #222222;
	text-align: center;
}

#indexDivConsTropas {
	padding-left: 0px;
	float: left;
}

#indexDivConsNaves {
	padding-left: 2px;
	float: left;
}

#indexDivConsDefensas {
	padding-left: 2px;
	float: left;
}

#especialesLblNoEsp {
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
	margin-bottom:5px;
	
	width: 200px;
	padding: 5px;
	font-weight: bold;
	border: 1px solid white;
	background-color: #222222;
	text-align: center;
}

.percentage{
	height: 7px;
	background-color: #222222;
}

.box{
	border: 1px white solid;
	height: 7px;
	width: 78px;
	background-color: white;
}

/************************************************************************************************
  Botones
************************************************************************************************/
#indexDivBotonera {
	position: absolute;
	top: 228px;
	left: 0px;
	width: 221px;
	min-height: 374px;
	background-image: url(/images/estilos/atlantis/botonera.png);
	background-repeat: no-repeat;
}

#indexDivBoton1 {
	position: absolute;
	top: 34px;
	left: 80px;
	font-weight: bold;
}

#indexDivBoton2 {
	position: absolute;
	top: 54px;
	left: 90px;
	font-weight: bold;
}

#indexDivBoton3 {
	position: absolute;
	top: 75px;
	left: 90px;
	font-weight: bold;
}

#indexDivBoton4 {
	position: absolute;
	top: 95px;
	left: 80px;
	font-weight: bold;
}

#indexDivBoton5 {
	position: absolute;
	top: 137px;
	left: 85px;
	font-weight: bold;
}

#indexDivBoton6 {
	position: absolute;
	top: 157px;
	left: 105px;
	font-weight: bold;
}

#indexDivBoton7 {
	position: absolute;
	top: 178px;
	left: 113px;
	font-weight: bold;
}

#indexDivBoton8 {
	position: absolute;
	top: 199px;
	left: 100px;
	font-weight: bold;
}

#indexDivBoton9 {
	position: absolute;
	top: 219px;
	left: 85px;
	font-weight: bold;
}

#indexDivBoton10 {
	position: absolute;
	top: 263px;
	left: 130px;
	font-weight: bold;
}

#indexDivBoton11 {
	position: absolute;
	top: 283px;
	left: 125px;
	font-weight: bold;
}

#indexDivBoton12 {
	position: absolute;
	top: 303px;
	left: 120px;
	font-weight: bold;
	z-index: 10;
}

#indexDivBoton13 {
	position: absolute;
	top: 323px;
	left: 117px;
	font-weight: bold;
	z-index: 10;
}

#indexDivBoton14 {
	position: absolute;
	top: 343px;
	left: 100px;
	font-weight: bold;
	z-index: 10;
}

#indexDivBoton15 {
	position: absolute;
	top: 297px;
	left: 0px;
	font-weight: bold;
	z-index: 0;
}

#indexDivBoton15 #indexImgSalir {
	border: 0px;
}

/************************************************************************************************
  Centro
************************************************************************************************/
#indexDivCentro {
	margin-left: 197px;
	padding-top: 130px;
	width: 603px;
	height: auto !important; /* para los browsers buenos */
	height: 469px; /* para IE5+ */
	min-height: 469px; /* para los browsers buenos */
}

#titulo {
	width: 603px;
	height: 101px;
	background-image: url(/images/estilos/atlantis/titulo.png);
	background-repeat: no-repeat;
}

#pestanas {
	width: 603px;
	height: 101px;
	background-image: url(/images/estilos/atlantis/pestanas.png);
	background-repeat: no-repeat;
}

#contenido {
	width: 567px;
	background-repeat: no-repeat;
	margin-top: -35px;
	margin-left: 30px;
	z-index: 20;
}

.mensaje {
	text-align: center;
}

.mensajes {
	background-color: #59626B;
	border: 2px solid black;
	border-top:  solid black;
}

#mensajesDivCabecera{
	height: 25px;
	background-color:black;
	cursor: move;
}

#mensajesDivContenido {
	margin-left: -7px;
}

#mensajesDivAviso {
	position: relative;
	float: left;
	padding-left:15px;
	padding-right:15px;
	padding-top:3px;
	padding-bottom:3px;
	background-color: #222222;
	border: 1px solid #ffffff;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	z-index: 50;
	display:none;
}

.especiales {
	background-color: #59626B;
	border: 2px solid black;
}

.lblNoHay {
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
	margin-bottom:5px;
	
	width: 200px;
	padding: 5px;
	font-weight: bold;
	border: 1px solid white;
	background-color: #222222;
	text-align: center;
}

/************************************************************************************************
  Pie
************************************************************************************************/
#indexDivPie {
	position: relative;
	margin: 0px auto;
	width: 800px;
	height: 28px;
	background-image: url(/images/estilos/atlantis/pie.png);
	background-repeat: no-repeat;
}

/************************************************************************************************
  Pestañas
************************************************************************************************/
.morphtabs_title {
	list-style-image: none;
	list-style-type: none;
	margin-top:0px;
	margin-left: 30px;
	padding-top: 34px;
	padding-left: 0px;
	height: 76px;
}

.morphtabs_title li {
	float: left;
	font-weight: bold;
	padding: 7px 8px 2px 8px;
	margin-right: 2px;
	cursor: pointer;
	color: white;
	height: 22px;
	width: 93px;
	line-height: 20px;
	background-image: url(/images/estilos/atlantis/tablanivel4.png);
	text-align:center;
}

.morphtabs_title li.over {
	background-image: url(/images/estilos/atlantis/tablanivel5.png);
}

.morphtabs_title li.active {
	background-image: url(/images/estilos/atlantis/tablanivel3.png);
	color:#000000;
}

* :first-child+html .morphtabs_panelwrap {
	margin-left: -20px; /* Hack para IE que valida*/
}

.morphtabs_panel div {

}

.morpthtabs_panel p {
	
}

/************************************************************************************************
  Tablas
************************************************************************************************/
.tablaCentral {
	width: 550px;
	margin-left: 7px;
	margin-bottom: 10px;
	border: 0px solid black;
	text-align:center;
}

.tablaTitulo {
	height: 25px;
	width: 550px;
	margin-left: 7px;
	margin-top: 10px;
	background-image: url(/images/estilos/atlantis/tablatitulo.png);
	font-weight: bold;
	padding-top: 6px;
	text-align: center;
}

.tablaCentral td {
	background-color: #59626b;
	padding: 3px;
}

.tablaCentral th {
	padding: 5px;
}

.th1 {
	font-weight: bold;
	background-image: url(/images/estilos/atlantis/tablanivel1.png);
	
}

.th2 {
	font-weight: bold;
	background-image: url(/images/estilos/atlantis/tablanivel2.png);
}

.tablaSegundoNivel td {
	background-color:#333333;
}

/************************************************************************************************
  Preloader
************************************************************************************************/
#preloader {
	position: relative;
	float: right;
	width: 200px;
	height: 18px;
	background-color: #222222;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 2px;
	z-index: 50;
	display: none;
}

.preloaderPlaneta {
	background: url('/images/estilos/atlantis/loaderPlaneta.gif');
	position: relative;
	top: 50%;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	margin-top: -12px;
}

.iconosUsuario span{
	color:#000000;
}
