@charset "UTF-8";

/*********************************************
  Wraith
*********************************************/
/************************************************************************************************
  Enlaces
************************************************************************************************/
a:link 
{
   color: #FFFFFF;
	text-decoration:none;
}

a:visited 
{
   color: #FFFFFF;
	text-decoration:none;
}

a:hover 
{
   color: #FFFFFF;
	text-decoration:underline;
}

a:active 
{
   color: #FFFFFF;
	text-decoration:none;
}

/************************************************************************************************
  Formulario
************************************************************************************************/
select
{
	font-size:11px;
	color:white;
	background-color:#101010;
	border: 1px solid white;
}

select:focus{
	background-color:#355d7f;
}

input, button{
	cursor: pointer;
	font-size:12px;
	background-color:#101010;
	border: 1px solid white;
	color:white;
}

input.disabled, input.disabled:hover {
	cursor: default;
	font-size: 12px;
	background-color: #999999;
	border: 1px solid #333333;
	color: #666666;
}

input:hover, button:hover{
	background-color:#355d7f;
}

textarea{
	font-size:12px;
	background-color:#101010;
	border: 1px solid white;
	color:white;
}

textarea:focus{
	background-color: #355d7f;
}

#indexLstPlanetas {
	width:237px;
}

/************************************************************************************************
  Contenedores
************************************************************************************************/
body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px;
	color: white;
	text-align:center;
	margin:0px auto;
	background-color:#191624;
}

#indexDivContenedor{
	position:relative;
	width:800px;
	min-height:605px;
	border:1px solid black;
	background-color:#101010;
	margin:0px auto;
	text-align:left;
}


/************************************************************************************************
  Recursos
************************************************************************************************/
#indexDivRecursoPri {
	position:absolute;
	top:0px;
	left:0px;
	width:226px;
	height:27px;
	background-image:url(/images/estilos/wraith/recursopri.png);
	background-repeat:no-repeat;
}

#indexDivRecursoPri div.textoRecurso {
	position:absolute;
	top:5px;
	left:95px;
	font-weight:bold;
}

#indexDivRecursoSec {
	position:absolute;
	top:0px;
	left:226px;
	width:204px;
	height:27px;
	background-image:url(/images/estilos/wraith/recursosec.png);
	background-repeat:no-repeat;
}

#indexDivRecursoSec div.textoRecurso {
	position:absolute;
	top:5px;
	left:70px;
	font-weight:bold;
}

#indexDivRecursoEnergia {
	position:absolute;
	top:0px;
	left:430px;
	width:370px;
	height:27px;
	background-image:url(/images/estilos/wraith/recursoenergia.png);
	background-repeat:no-repeat;
}

#indexDivRecursoEnergia div.textoRecurso {
	position:absolute;
	top:5px;
	left:66px;
	font-weight:bold;
}

/************************************************************************************************
  Logo
************************************************************************************************/
#indexDivLogo {
	position:absolute;
	top:27px;
	left:0px;
	width:197px;
	height:220px;
	background-repeat:no-repeat;
}

/************************************************************************************************
  Planeta
************************************************************************************************/
#indexDivPlaneta {
	position:absolute;
	top:27px;
	left:197px;
	width:502px;
	height:98px;
}

#indexDivPlanetaImagen {
	padding-left:9px;
	padding-top:12px;
	position:absolute;
	top:0px;
	left:0px;
	width:101px;
	height:101px;
	background-image:url(/images/estilos/wraith/planetaimagen.png);
	background-repeat:no-repeat;
}

#indexDivPlanetaDatos {
	position:absolute;
	top:0px;
	left:103px;
	width:249px;
	height:110px;
	background-image:url(/images/estilos/wraith/planetadatos.png);
	background-repeat:no-repeat;
}

#indexDivnombrePlaneta {
	position:absolute;
	top:17px;
	left:27px;
	font-size:11px;
	font-weight:bold;
	color: white;
}

#indexDivcoordenadas {
	position:absolute;
	top:39px;
	left:38px;
}

#indexDivBotonesPlaneta {
	position:absolute;
	top:71px;
	left:12px;
	width:239px;
	text-align:center;
}

#indexDivLogoPlanetaResto {
	position:absolute;
	top:27px;
	left:549px;
	width:257px;
	height:106px;
	background-image:url(/images/estilos/wraith/planetaresto.png);
	background-repeat:no-repeat;
}

#indexLblPlanetasLista {
	position:absolute;
	top:4px;
	left:8px;
	width:240px;
	text-align:center;
	background-color:#101010;
}

#layer {
	position: absolute;
	height: 18px;
	top: 0px;
	left: 0px;
	width: 240px;
}

#divlistaplanetas {
	background: #1E1E1E;
	border: 1px solid #FFFFFF;
	left: 0px;
	top: 18px;
	overflow: auto;
	position: absolute;
	width: 235px;
	margin-left: 2px;
	margin-top: -1px;
	display: none;
	z-index: 10;
	cursor:pointer;
}

#divlistaplanetas div {
	display: block;
	text-align: left;
	width: 235px;
	height: 54px;
}

#divlistaplanetas div:hover {
	background-color: #56284d;
}

#divlistaplanetas img {
	float: left;
	margin: 3px;
	width: 48px;
	height: 48px;
}

#divlistaplanetas span {
	float: left;
	margin-top: 17px;
}

#indexDivConstruccion {
	position:absolute;
	top:25px;
	left:5px;
	width:247px;
}

#indexLblNoCons {
	position:absolute;
	top:20px;
	left:20px;
	width:200px;
	padding:5px;
	font-weight:bold;
	border:1px solid white;
	background-color:#101010;
	text-align:center;
}

#indexDivConsTropas {
	padding-left:0px;
	float:left;
}

#indexDivConsNaves {
	padding-left:2px;
	float:left;
}

#indexDivConsDefensas {
	padding-left:2px;
	float:left;
}

#especialesLblNoEsp {
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
	margin-bottom:5px;
	
	width: 200px;
	padding: 5px;
	font-weight: bold;
	border: 1px solid white;
	background-color: #101010;
	text-align: center;
}

.percentage{
	height: 7px;
	background-color: #56284d;
}

.box{
	border: 1px white solid;
	height: 7px;
	width: 78px;
	background-color: white;
}

/************************************************************************************************
  Botones
************************************************************************************************/
#indexDivBotonera {
	position:absolute;
	top:240px;
	left:0px;
	width:239px;
	min-height:359px;
	background-image:url(/images/estilos/wraith/botonera.png);
	background-color:#101010;
	background-repeat:no-repeat;
	z-index:0;
}

#indexDivBoton1 {
	position:absolute;
	top:45px;
	left:70px;
	font-weight:bold;
}

#indexDivBoton2 {
	position:absolute;
	top:66px;
	left:58px;
	font-weight:bold;
}

#indexDivBoton3 {
	position:absolute;
	top:87px;
	left:62px;
	font-weight:bold;
}

#indexDivBoton4 {
	position:absolute;
	top:109px;
	left:58px;
	font-weight:bold;
}

#indexDivBoton5 {
	position:absolute;
	top:45px;
	left:136px;
	font-weight:bold;
}

#indexDivBoton6 {
	position:absolute;
	top:66px;
	left:141px;
	font-weight:bold;
}

#indexDivBoton7 {
	position:absolute;
	top:87px;
	left:132px;
	font-weight:bold;
}

#indexDivBoton8 {
	position:absolute;
	top:109px;
	left:128px;
	font-weight:bold;
}

#indexDivBoton9 {
	position:absolute;
	top:129px;
	left:61px;
	font-weight:bold;
}

#indexDivBoton10 {
	position:absolute;
	top:150px;
	left:70px;
	font-weight:bold;
}

#indexDivBoton11 {
	position:absolute;
	top:172px;
	left:63px;
	font-weight:bold;
}

#indexDivBoton12 {
	position:absolute;
	top:130px;
	left:130px;
	font-weight:bold;
	z-index:10;
}

#indexDivBoton13 {
	position:absolute;
	top:150px;
	left:135px;
	font-weight:bold;
	z-index:10;
}

#indexDivBoton14 {
	position:absolute;
	top:172px;
	left:132px;
	font-weight:bold;
	z-index:10;
}

#indexDivBoton15 {
	position:absolute;
	top:239px;
	left:0px;
	font-weight:bold;
	z-index:0;
}

#indexDivBoton15 #indexImgSalir {
	border:0px;
}

/************************************************************************************************
  Centro
************************************************************************************************/
#indexDivCentro {
	margin-left: 197px;
	padding-top: 130px;
	width: 603px;
	height: auto !important; /* para los browsers buenos */
	height: 469px; /* para IE5+ */
	min-height: 469px; /* para los browsers buenos */
}

#titulo {
	width:603px;
	height:117px;
	background-image:url(/images/estilos/wraith/titulo.png);
	background-color:#101010;
	background-repeat:no-repeat;
}

#pestanas {
	width: 603px;
	height: 117px;
	background-image: url(/images/estilos/wraith/pestanas.png);
	background-color: #101010;
	background-repeat: no-repeat;
}

#contenido {
	width: 567px;
	background-color: #101010;
	background-repeat: no-repeat;
	margin-top: -22px;
	margin-left: 35px;
	z-index: 20;
}

.mensaje {
	text-align: center;
}

.mensajes {
	background-color: #1E1E1E;
	border: 2px solid #56284d;
	border-top:  solid #56284d;
}

#mensajesDivCabecera{
	height: 25px;
	background-color: #56284d;
	cursor: move;
}

#mensajesDivContenido {
	margin-left: -14px;
}

#mensajesDivAviso {
	position: relative;
	float: left;
	padding-left:15px;
	padding-right:15px;
	padding-top:3px;
	padding-bottom:3px;
	background-color: #1E1E1E;
	border: 1px solid #56284d;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	z-index: 50;
	display:none;
}

.especiales {
	background-color: #1E1E1E;
	border: 2px solid #56284d;
}

.lblNoHay {
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
	margin-bottom:5px;
	
	width: 200px;
	padding: 5px;
	font-weight: bold;
	border: 1px solid white;
	background-color: #101010;
	text-align: center;
}

/************************************************************************************************
  Pie
************************************************************************************************/
#indexDivPie {
	position:relative;
	margin:0px auto;
	width:800px;
	height:30px;
	background-image:url(/images/estilos/wraith/pie.png);
	background-repeat:no-repeat;
}

/************************************************************************************************
  Pestanas
************************************************************************************************/
.morphtabs_title {
	list-style-image: none;
	list-style-type: none;
	margin-top:0px;
	margin-left: 40px;
	padding-top: 34px;
	padding-left: 8px;
	height: 87px;
}

.morphtabs_title li {
	float: left;
	font-weight: bold;
	padding: 7px 8px 2px 8px;
	margin-right: 2px;
	cursor: pointer;
	color: white;
	height: 22px;
	width: 93px;
	line-height: 20px;
	background-image: url(/images/estilos/wraith/tablanivel4.png);
	text-align:center;
}

.morphtabs_title li.over {
	background-image: url(/images/estilos/wraith/tablanivel5.png);
}

.morphtabs_title li.active {
	background-image: url(/images/estilos/wraith/tablanivel3.png);
}

* :first-child+html .morphtabs_panelwrap {
	margin-left: -20px; /* Hack para IE que valida*/
}

.morphtabs_panel div {

}

.morpthtabs_panel p {
	
}

/************************************************************************************************
  Tablas
************************************************************************************************/
.tablaCentral {
	width:550px;
	margin-left:14px;
	margin-bottom:15px;
	border:0px solid black;
	text-align:center;
}

.tablaTitulo {
	height:25px;
	width:550px;
	margin-left:14px;
	margin-top:15px;
	background-image:url(/images/estilos/wraith/tablatitulo.png);
	font-weight:bold;
	padding-top:6px;
	text-align:center;
}

.tablaCentral td{
	background-color: #1E1E1E;
	padding: 3px;
}

.tablaCentral th{
	padding: 5px;
}

.th1{
	font-weight: bold;
	background-image: url(/images/estilos/wraith/tablanivel1.png);
}
.th2{
	font-weight: bold;
	background-image: url(/images/estilos/wraith/tablanivel2.png);
}

.tablaSegundoNivel td {
	background-color:#56284d;
}

/************************************************************************************************
  Preloader
************************************************************************************************/
#preloader {
	position: relative;
	float: right;
	width: 200px;
	height: 18px;
	background-color: #56284d;
	border: 1px solid #ffffff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 2px;
	z-index: 50;
	display: none;
}

.preloaderPlaneta {
	background: url('/images/estilos/wraith/loaderPlaneta.gif');
	position: relative;
	top: 50%;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	margin-top: -12px;
}
